@forward "@styles";

.postsContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.postsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: calc(100vh - 400px);
    padding-right: 4px; /* Небольшой отступ для красоты */
}

.postWrapper {
    transition: all 0.5s ease;
    opacity: 1;
    transform: translateX(0);
    max-height: 1000px;

    &.deleting {
        pointer-events: none;
        opacity: 0.6;

        :global(*) {
            cursor: not-allowed !important;
        }
    }

    &.fadingOut {
        opacity: 0;
        transform: translateX(-20px);
        max-height: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 768px) {
    .postsContainer {
        max-width: 100%;
    }
}
