body {
    margin: 0;
    display: flex;
    place-items: center;
    height: 100vh;
    #root {
        width: 100vw;
        height: 100vh;
        color: #000000;
        font-weight: 400;
        font-size: 14px;
    }
}
