:root {
    // colors
    --black-color: #000000;

    // size
    --big-size: 20px;
    --medium-size: 16px;
    --regular-size: 14px;

    //weight
    --bold-weight: 800;
    --medium-weight: 500;
    --regular-weight: 400;
}
